* {
  box-sizing: border-box;
}

body {
  border: 5px solid #edd169;
}

figure {
  margin: 0;
}

.intro {
  font-style: italic;
}

.container {
  margin: 30px 0;
  padding: 0 30px;
}

h1 {
  position: relative;
  padding-bottom: 30px;
}

h1 span {
  display: block;
  max-width: 100%;
  color: #fe2d1b;
  font-family: "Blesk Left";
  font-size: 72px;
  line-height: 132px;
  z-index: -100;
  letter-spacing: 30px;
  word-wrap: break-word;
}

h1 span:after {
  display: block;
  max-width: 100%;
  content: "An Interview with Barbara Glauber";
  position: absolute;
  left: 0px;
  top: 0px;
  color: #f5b043;
  font-family: "Blesk Right";
  font-size: 72px;
  line-height: 132px;
  z-index: 100;
  letter-spacing: 30px;
  word-wrap: break-word;
}

h3, p {
  color: #333;
  font-family: "Freight Text", Georgia, serif;
  font-size: 20px;
  line-height: 28px;
  width: 600px;
  max-width: 100%;
  margin: 0 auto 30px auto;
}

h3 {
  font-weight: bold;
}

.byline {
  float: left;
}

.byline span,
span.caption {
  display: block;
  margin-top: 9px;
  font-family: "Griffith Gothic", Helvetica, Arial, sans;
  font-weight: bold;
  font-size: 12px;
  line-height: 18px;
  color: #85c8ad;
}

span.caption a {
  color: #85c8ad;
}

.byline span {
  text-transform: uppercase;
}

span.caption {
  margin: 30px 0;
}

/* Figures */

figure.lead {
  max-width: 100%;
  margin: 0 auto 50px auto;
  padding-bottom: 50px;
  background-color: #fff;
  border-bottom: 1px solid #eee;
}

figure.lead img {
  display: block;
  max-width: 100%;
  margin: 0 auto;
}

figure.pullquote {
  float: left;
  max-width: 300px;
  margin: 0 30px 30px 0;
  font-family: "Freight Text";
  font-weight: bold;
  font-style: italic;
  font-size: 36px;
  color: #85c8ad;
}

figure.sidebar {
  float: right;
  margin: 0 0 30px 30px;
}

figure.sidebar img {
  max-width: 400px;
  max-height: 600px;
  /*width: 100%;*/
}

figure.span {
  margin: 50px auto;
  width: 600px;
  max-width: 100%;
}

figure.span img {
  width: 100%;
  height: auto;
}

figure.span.large {
  width: 720px;
}

figure.shadow img {
  box-shadow: 0 0 3px rgba(0,0,0,0.3);
  border-radius: 3px;
}

figure.anatsui img + img {
  margin-top: 30px;
}

figure.dalaprisma .caption {
  margin-top: 0;
}

.sidebar.violent-femmes,
.sidebar.violent-femmes img {
  max-width: 200px;
}

section.hello-recording-club {
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
  -webkit-justify-content: flex-start;
  border-top: 1px solid #eee;
  margin-top: 150px;
  padding-top: 30px;
}

section.hello-recording-club figure {
  padding: 0 30px;
  -webkit-flex: 1 1 auto;
  flex: 1 1 auto;
}

section.close figure + figure {
  border-left: 1px solid #eee;
}

section figure img {
  width: 100%;
  height: auto;
}

/* Responsive */

@media (max-width: 1100px) {
  figure.lead {
    display: none;
  }
  .byline {
    float: none;
    width: 600px;
    max-width: 100%;
    margin: 0 auto 30px auto;
    text-align: center;
  }
  .byline span {
    display: inline-block;
  }
  .byline span + span {
    margin-left: 30px;
  }
}

@media (max-width: 600px) {
  h1 span,
  h1 span:after {
    font-size: 24px;
    line-height: 44px;
  }
  figure.pullquote {
    float: none;
    max-width: none;
    margin: 30px 0;
    font-size: 26px;
    line-height: 38px;
  }
}

/* Cycling */

span.style-cycle-1         { text-align: left; }
span.style-cycle-1:after  { text-align: left; }

span.style-cycle-2         { text-align: justify; }
span.style-cycle-2:after  { text-align: left; }

span.style-cycle-3         { text-align: center; }
span.style-cycle-3:after  { text-align: justify; }

span.style-cycle-4         { text-align: justify; }
span.style-cycle-4:after  { text-align: justify; }

span.style-cycle-5         { text-align: center; }
span.style-cycle-5:after  { text-align: justify; }

span.style-cycle-6         { text-align: right; }
span.style-cycle-6:after  { text-align: justify; }

span.style-cycle-7         { text-align: center; }
span.style-cycle-7:after  { text-align: center; }

span.style-cycle-8         { text-align: left; }
span.style-cycle-8:after  { text-align: justify; }

span.style-cycle-9         { text-align: justify; }
span.style-cycle-9:after  { text-align: right; }

span.style-cycle-10         { text-align: justify; }
span.style-cycle-10:after  { text-align: center; }